html{
    font-family:sans-serif;-ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body {
    margin:0;    
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
footer, header, main, nav, section {
    display: block;
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
img {
    vertical-align: middle;
}
.h1,h1{font-size:36px}.h2,h2{font-size:30px}.h3,h3{font-size:24px}.h4,h4{font-size:18px}.h5,h5{font-size:14px}.h6,h6{font-size:12px}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
a {
    color: #ce4844;
    text-decoration: none;
}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}

.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;max-width:980px}
.row{margin-left:-15px;margin-right:-15px}

.pdb0 {padding-bottom: 0!important;}
.mrb15 {margin-bottom: 15px!important;}
.mrb50 {margin-bottom: 50px!important;}

/* Top menu */
.navbar {
    margin-bottom: 0px;
}
.nav > li > a {
    padding: 10px 20px;
    color: #929292;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}
.navbar-default {
    background-color:#fff;
    border:none;
}
.navbar-fixed-top {
    border-bottom:1px solid #FF7600;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #ff7600;
    color:#fff;
}
/* Top banner */
div#home {padding:50px 0;}
#top-banner {
    background: url('../img/top-banner-1920.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom:0;
    height: 500px;
}
#top-banner-attributico {
    background: url('../img/top-banner-attributico-1920.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom:0;
    height: 500px;
}
@media (max-width: 1024px) {
    #top-banner {
        background: url('../img/top-banner-1024.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        margin-bottom:0;
        height: 500px;
    }
	#top-banner-attributico {
        background: url('../img/top-banner-attributico-1024.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        margin-bottom:0;
        height: 500px;
    }
}
.language {float:right;  padding: 35px 60px;}
.header-button {text-align:center;  margin: 400px auto 0;}
.jumbotron {background-color:#493966; color:#fff;}
/* Features */
.feature_wrap { border-bottom: 1px solid #EDEDED; margin: 0; overflow: hidden; padding: 20px 0; }
.feature_wrap ul { overflow: hidden; padding: 0; list-style: none;}
.feature_wrap ul li { margin-bottom: 0; overflow: hidden; }
.feature_wrap .icon_feature { border: 1px solid #666D89; -moz-border-radius: 045px 45px 45px 45px; -webkit-border-radius: 45px 45px 45px 45px; border-radius: 45px 45px 45px 45px; color: #666D89; float: left; font-size: 1.9em; height: 50px; line-height: 50px; text-align: center; vertical-align: middle; width: 50px; }
.feature_wrap .wrap { float: left; margin: 0 0 10px 10px; width: 79%; }
.feature_wrap .wrap h3 { margin: 5px 0 }
.feature_wrap.option3 ul li { text-align: center; }
.feature_wrap.option3 .icon_feature { border: 2px solid; display: block; float: none; font-size: 3em; height: 75px; line-height:75px; margin: 0 auto 20px; width:75px }
.feature_wrap.option3 .wrap { float: none; width: 100%; }

/* Sections */
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section{padding:70px 0 40px;border-bottom:1px solid #f1f1f1}
.section.highlight{background-color:#fafafa}
.section .section-header .section-title,.section .section-header h1,.section .section-header h2{text-align:left}
.section .section-header p{font-size:16px;line-height:1.6;text-align:left}
.section .border{background-color:#152836;display:block;height:3px;margin:5px 0 0;width:80px}

.page-header{margin:0 0 50px;padding-bottom:15px;border-bottom:1px solid #eee}

/* Gallery */
.demo-gallery > ul {
    margin-bottom: 0;
}
.demo-gallery > ul > li {
    float: left;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 200px;
}
.demo-gallery > ul > li a {
    border: 1px solid #FFF;
    border-radius: 1px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}
.demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery-poster > img {opacity:1}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}
.demo-gallery .justified-gallery > a .video .demo-gallery-poster > img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}
.demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
}

/*.home .demo-gallery {
    padding-bottom: 80px;
} */

/*#contacts {
    margin-top:100px;
    border-top: 1px solid #cccccc;
    font-size:14px;
} */
.contact-map {
    margin-bottom: 15px;
    height: 378px;
}

.btn-orange {
    background-color: #ff7600;
    border-bottom:2px solid #d35400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: #d35400;
    color:#ffffff;
}

.btn-green {
    background-color:#2ecc71;
    border-bottom:2px solid #27ae60;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #27ae60;
    color:#ffffff;
}

.txt_darkgrey {
    color: #333333;
}

.txt_orange {
    color: #e67e22;
}
.link_orange:hover {
	color: #e67e22;
    text-decoration: underline;
}
/* blog */
.blog_post {
    color: #333333; 
    padding: 10px;
}

.blog_header {
    font-weight: bold; 
    font-size: 16px; 
}

.blog_text {
    text-align: justify; 
    font-size: 14px; 
    margin-top: 20px;
}
.blog_box {
	margin-left: -12px;
}
@media (min-width:768px) and (max-width:990px) {  
    .blog_box{
       margin-right: -140px;
    }
}
/* footer */
.footer {   
	padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    border-top:1px solid #FF7600;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}