# Opencart ignore list
*.log
_stock/

!index.html
# 1.5.x - 2.1.x 
image/data/
image/cache/
system/cache/
system/logs/
# 2.3.x 
system/storage/logs/
system/storage/cache/
system/storage/upload/
# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache

# myProjects settings
*.code-workspace
*.zip
*.iep
*.bat
wtools-win32-ia32/
nbproject/
.vscode/
5.4/
5.4-5.6/
7.0/
7.1/
7.2/
ioncube/
PHP5.4/
PHP5.4-5.6/
PHP7.0/
PHP7.1/
PHP7.2/